In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv("t_mdco_tfra400_Base3M_1.0.csv", dtype={"producto_1_number":str, "bin_2_number":str, "clave_secundaria_text":str})
df

In [ ]:
df.head(1)

In [ ]:
df.columns.tolist()

In [ ]:
for l in df.columns.tolist():
    print(l, end=", ")

In [ ]:
for l in df.head(1).values.tolist()[0]:
    print(l, end=", ")

In [ ]:
df.head(1).values.tolist()

In [ ]:
df['tel_id'][0:100]

In [ ]:
df['desc_text'][0:100]

In [ ]:
df['desc_text'][0:100]

In [ ]:
df['clave_secundaria_text'][0:100]

In [24]:
import time
def get_name(ini, target):
    f = ini[:2]
    l = ini[2:]
    names = target.split(l.lower())
    if(len(names) < 2 or target.find(f.lower()) != 0):
        return ""
    ff = len(names[0])
    return f + target[2:ff] + " " + l + target[ff + len(l):]

%%time
names = []
initials = df['desc_id'].tolist()
targets = df['desc_text'].tolist()
for i in range(len(initials)):
    ini = initials[i]
    target = targets[i]
    ans = get_name(ini, target)
    names.append(ans)

print(len(names))
print(names[:10])

In [27]:
df

,id_cliente,NU_CTE,CANAL_ENTRADA,clave_id,desc_text,producto_id,correo_id,CVV_secreto,CURP,CODIGO_BANCO,...,pasaporte,TERMINAL,FECHA_ULTIMO_USO,NSS,REFERENCIA_NUMERICA,MOTIVO_PAGO,INFE_id,registro.xls,TIPO_TARJETA,agrupacion_id
0,1,B3477219,BNET,640402,iolandesnaddon,AD3,tnioPmirG91,495,KLX84,RQBI,...,1577F7EB349596F,KNtramps,1972-07-10,42220146665,3685710,S80,jmx0641086212,Version196404.xls,TDC,HDF
1,2,W0818632,BMOVIL,820713,jemiepeachman,MS9,enaLedisyaB18,759,LDH08,LOAE,...,NaN,KNunseen,1998-08-22,1026036203075,5754645,Thunderbird,uix4568194236,Version198207.xls,TDC,MDF
2,3,Z4396398,BNET,580905,justusmurton,NU7,kraPrelliM2518,739,UMM71,QOFZ,...,7D3C2D442B0D6A,KNcatnap,1991-10-28,645036454164,222503,GTO,vwu2996077629,Version195809.xls,TDC,HDF
3,4,L1839991,BNET,530805,foresternanni,EU6,teertSshcaS171,244,RRL32,TQKJ,...,NaN,KNbastes,1979-09-03,350710400652,4545783,Spyder,jju5328474945,Version195308.xls,TDC,MDF
4,5,Z4139418,BNET,800731,nathaliachiles,UC7,lliHtserclezaH854,970,SYX28,XBFR,...,173E41CD56A7D2,KNatom's,1996-09-13,347443313710,1294003,LX,rzc9286783184,Version198007.xls,TDC,HDF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2999996,Q9338732,BMOVIL,430531,zaradresser,QV1,evirDdoowtnerB5,389,CTD76,BZGV,...,1030D27C8B4D247,KNearl's,1966-10-19,17001375416,374291,Country,hxa2452944829,Version194305.xls,TDC,MDF
2999996,2999997,I2146781,BMOVIL,831211,skippermander,DF6,teertSairotciV015,464,TRC43,MXQB,...,489A1E0525B6AB,KNchalet,1961-01-29,1123227054175,3185992,Supra,nuw3038445815,Version198312.xls,TDC,HDF
2999997,2999998,A2205051,BMOVIL,880903,deboramounce,IW0,noitcnuJdnalecarG7,815,MCC46,FIBH,...,NaN,KNuntold,1993-08-06,1070224655433,5286373,DTS,igm7225031133,Version198809.xls,TDC,HDF
2999998,2999999,W4868807,BMOVIL,950101,alanahholde,YU4,retneCrereihT816,669,KIU86,YBWF,...,9BCE366316501A,KNpapacy,1964-03-16,304301116630,5737546,Tucson,fux0962206429,Version199501.xls,TDC,HDF
2999999,3000000,S1808601,BMOVIL,581015,yurihovert,LN3,ecalPneerG55,747,VSD75,TSDB,...,13C49684CDD6B20,KNgambit,1959-09-17,753644703554,8200483,SC,hhq6872204467,Version195810.xls,TDC,MDF

In [ ]:
cc.append(1)

In [ ]:
cc

In [ ]:
pd.options.display.max_columns = None

In [ ]:
df.sample(10)['producto_1_number']

In [ ]:
pd.reset_option('display.float_format')

In [ ]:
df.sample(10)

In [ ]:
df.sample(100)

In [ ]:
x = set()

In [ ]:
for el in df['agrupacion_id']:
    x.add(el)

In [ ]:
x

In [ ]:
df.sample(10)

In [ ]:
x = set()
for num in df['clave_secundaria_text']:
    for d in num:
        x.add(d)

In [ ]:
x

In [ ]:
x = set()
for num in df['clave_primaria_text']:
    for d in str(num):
        x.add(d)

In [ ]:
x = set()
for num in df['REFERENCIA_PAGO']:
    x.add(len(str(num)))

In [ ]:
x

In [ ]:
x = set()
for num in df['INSTRUMENTO_PAGO']:
    x.add(num)

In [ ]:
len(x)

In [ ]:
x = set()
for num in df['REFERENCIA_PAGO']:
    for d in str(num):
        x.add(d)
x

In [ ]:
x = set()
for num in df['producto_id']:
        x.add(num)
len(x)

In [ ]:
x = set()
for num in df['pasaporte']:
        x.add(len(str(num)))
x

In [ ]:
x = set()
c15 = 0
c16 = 0
c17 = 0
for num in df['pasaporte']:
    hx = str(num)
    if hx != 'nan':
        dec = int(hx, 16)
        l = len(str(dec))
        if l == 15:
            c15 = c15 + 1
        elif l == 16:
            c16 = c16 + 1
        elif l == 17:
            c17 = c17 + 1
        x.add(l)
x

In [ ]:
print(c15, c16, c17)

In [ ]:
x = set()
for num in df['producto_1_number']:
    bn = str(num)
    if bn != 'nan':
        signo = -1 if bn[0] == '1' else 1
        dec = int(bn[1:], 2)
        x.add(signo * dec)
x

In [ ]:
x = set()
for num in df['bin_2_number']:
    bn = str(num)
    if bn != 'nan':
        dec = int(bn, 2)
        x.add(dec)
x

In [ ]:
x = set()
for num in df['bin_2_number']:
    bn = str(num)
    if bn != 'nan':
        signo = -1 if bn[0] == '1' else 1
        dec = int(bn[1:], 2)
        x.add(signo * dec)
x

In [ ]:
x = set()
for num in df['bin_2_number']:
    bn = str(num)
    if bn != 'nan':
        signo = -1 if bn[0] == '1' else 1
        dec = int(bn[1:], 2)
        x.add(signo * dec/2)
x

In [ ]:
x = set()
for num in df['INSTRUMENTO_PAGO']:
    x.add(num[0])
x

In [ ]:
x = {}
for num in df['NSS']:
    bn = str(num)
    signs = Counter(k['sign'] for k in data if k.get('sign'))
    for sign, count in signs.most_common():
        print(sign, count)

In [ ]:
from collections import Counter
s = Counter(df['NSS'])

In [ ]:
len(s)